body {
    overflow-x: hidden;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
    background-color: var(--c1);
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
      --s: 60px;
  --c1: #180a22;
  --c2: #5b42f3;
  --_g: radial-gradient(
    25% 25% at 25% 25%,
    var(--c1) 99%,
    rgba(0, 0, 0, 0) 101%
  );
  background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
      calc(2 * var(--s)),
    var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
    radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
      var(--s),
    repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
      calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
}

.container p {
    font-size: clamp(1rem, 1.5vw, 2.5rem);
}

.container button {
    padding: 15px;
    width: 45%;
    font-size: 1.5vw;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 208, 255, 0.7);
    transition: all 0.5s ease-in-out;
}

.container button:hover {
    letter-spacing: 1.5px;
    box-shadow: 0 2px 10px 0 rgba(0, 208, 255, 0.7);
}


.container button:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 0 rgba(0, 208, 255, 0.7);
    transition: 100ms;
}

.container button:disabled{
    background-color: rgb(151, 151, 151);
    cursor: not-allowed;
    box-shadow: 0 0 0 0 black;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
    .container p {
        font-size: 2rem;
    }
    .container button {
        font-size: 1.2rem;
        width: 80%;

    }
}





